@page "/note-overview"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@inject NavigationManager NavigationManager
@inject INotesOverviewService NotesOverviewServiceClient
<PageTitle>Note Overview</PageTitle>

<h2 class="text-5xl font-bold text-center mb-3">My Notes</h2>
@if (_notes == null)
{
    <p><em>Cargando notas...</em></p>
}
else if (_notes.Count == 0)
{
    <p><em>No se encontraron notas</em></p>
}
else
{
    <div class="max-w-4xl mx-auto px-4">
        <div class="border border-gray-200 rounded-lg shadow-sm">
            <QuickGrid Class="w-full table-fixed" AutoGenerateColumns="false" Items="@_notes.AsQueryable()">
                <PropertyColumn Class="border-2 p-2" Sortable="true" Property="@(n => n.Title)" Title="Title" />
                <TemplateColumn Class="border-2 p-2" Title="Content">
                    <div class="block max-w-xs truncate text-gray-700" title="@context.Content">
                        @context.Content
                    </div>
                </TemplateColumn>
                <PropertyColumn class="border-2 p-2" Sortable="true"
                                Property="@(n => n.PublishedAt.HasValue ? n.PublishedAt.Value.ToShortDateString() : "N/A")"
                                Title="Published At" />
                <TemplateColumn Title="Published" Class="border-2 p-2">
                    <div class="flex justify-center">
                        <span>@(context.IsPublished ? "✅" : "❌")</span>
                    </div>
                </TemplateColumn>
                <TemplateColumn class="border-2 p-1" Title="Edit">
                    <div class="flex justify-center">
                        <button @onclick="() => EditNote(context.Id)" aria-label="Editar nota"
                                class="inline-flex items-center justify-center w-30 h-30 rounded-md text-blue-600 hover:bg-blue-50 hover:text-blue-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                 class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </button>
                        <button @onclick="() => TogglePublishNote(context.Id)"
                                class="px-3 py-1 text-xs font-medium rounded-full @(context.IsPublished ? "bg-red-100 text-red-800 hover:bg-red-200" : "bg-green-100 text-green-800 hover:bg-green-200")">
                            @(context.IsPublished ? "Unpublish" : "Publish")
                        </button>
                    </div>
                </TemplateColumn>
            </QuickGrid>
        </div>
    </div>
}

@code {
    private List<NoteResponse>? _notes;
    protected override async Task OnInitializedAsync()
    {
        var result = await NotesOverviewServiceClient.GetNotesByCurrentUserAsync();
        if (result != null)
        {
            _notes = result;
        }
        else
        {
            _notes = [];
        }
    }

    private void EditNote(int idNote)
    {
        NavigationManager.NavigateTo($"/note-editor/{idNote}");
    }

    private async Task TogglePublishNote(int idNote)
    {
        var updatedNote = await NotesOverviewServiceClient.TogglePublishedNoteAsync(idNote);
        if (updatedNote != null && _notes != null)
        {
            var index = _notes.FindIndex(note => note.Id == idNote);
            if (index != -1)
            {
                _notes[index] = (NoteResponse)updatedNote;
                StateHasChanged();
            }
            else
            {
                Console.Error.WriteLine("Error updating note state");
            }
        }
    }
}